n8n_Outbound_Call_Workflow.json
{
  "name": "W3 AI Solutions - Outbound Call Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "speed-to-lead-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "auto-generated"
    },
    {
      "parameters": {
        "jsCode": "// Extract phone number from incoming webhook\nconst phone = $input.item.json.phone;\nconst source = $input.item.json.source || 'w3-website';\nconst timestamp = $input.item.json.timestamp || new Date().toISOString();\n\n// Validate phone number\nif (!phone || phone.length < 10) {\n  throw new Error('Invalid phone number');\n}\n\n// Format phone number (remove spaces, dashes, parentheses)\nconst cleanPhone = phone.replace(/[^0-9+]/g, '');\n\n// Ensure it starts with +1 for US numbers\nlet formattedPhone = cleanPhone;\nif (!formattedPhone.startsWith('+')) {\n  if (formattedPhone.length === 10) {\n    formattedPhone = '+1' + formattedPhone;\n  } else if (formattedPhone.length === 11 && formattedPhone.startsWith('1')) {\n    formattedPhone = '+' + formattedPhone;\n  } else {\n    formattedPhone = '+' + formattedPhone;\n  }\n}\n\nreturn {\n  phone: formattedPhone,\n  source: source,\n  timestamp: timestamp,\n  original_phone: phone\n};"
      },
      "id": "phone-formatter",
      "name": "Format Phone Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call/phone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_VAPI_PRIVATE_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phoneNumberId",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "assistantId",
              "value": "YOUR_VAPI_ASSISTANT_ID"
            },
            {
              "name": "customer",
              "value": {
                "number": "={{ $json.phone }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "vapi-call",
      "name": "VAPI Outbound Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Call initiated\", \"phone\": $json.phone, \"call_id\": $json.id } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": $json.error || \"Failed to initiate call\", \"details\": $json } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 480]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Phone Number": {
      "main": [
        [
          {
            "node": "VAPI Outbound Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAPI Outbound Call": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-12T00:00:00.000Z",
  "versionId": "1"
}
